.tools/
target/
bin/
obj/
*.obj
.DS_Store
._*
DerivedData/
.deriveddata/
*.user
*.swp
*.tmp
*.log
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
paired-devices.json
